@media only screen and (max-width: 767px) {
    #menu {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #pagemenubutton {
        display: none;
    }
    br.responsive {
        display: none;
    }
}