pre.ql-syntax {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.anetworkgradient {
    background: linear-gradient(45deg, #000BA5 0%, #7781FF 100% ) !important;
    transition: display 5s;
}

.anetworkgradient-inverted {
    background: linear-gradient(45deg, #7781FF 0%, #000BA5 100% ) !important
}

.asearchinput input {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
}

#pagemenubuttoncontainer {
    transition: transform 500ms;
}

#pagemenubuttoncontainer.a-hidden {
    transform: translateY(-100%);
}

@media only screen and (max-width: 767px) {
    #menu, #search, #searchicon {
        display: none;
    }

    #pageheader {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .ui.container:not(.text) {
        margin: 0px !important;
    }

    .ui.card, .ui.segment, img.rounded, .ui.bottom.attached.button, .ui.fluid.button, .ui.fluid.two.menu.item {
        border-radius: 0px !important;
    }
}

@media only screen and (min-width: 768px) {
    #pagemenubuttoncontainer {
        display: none;
    }
    br.responsive {
        display: none;
    }
}